p{
    font-size:30px;
    font-family: arial;
    text-align: center;
    color: #c8e13a;
    font-weight: bold;
    text-decoration: underline;
}
.para{
    font-size: 20px;
    font-family: arial;
    text-align: center;
    color: #36dc72;
    font-weight: normal;
    text-decoration: none;
}
.para-blue{
    font-size: 20px;
    font-family: arial;
    text-align: center;
    color: #133751;
    font-weight: normal;
    text-decoration: none;
}